nav#nav-main
  +padding-leader(0)
  +padding-trailer(0)
  +float-right
    
  ul
    font-weight: bold
    padding-top: 16px
    +float-right
    overflow: visible
    
    body.pagina-home &
      padding-top: 60px
    
    li
      float: left
      display: inline
      margin-left: 0
      +adjust-font-size-to(20px)
      +adjust-leading-to(1)
      text-transform: lowercase
      padding-left: 1em
      padding-right: 1em
      
      &.nav-noticias
        a
          color: $noticias-color
          
          // Aplica o estilo abaixo no "li.nav-noticias" se o body tiver a classe ".area-noticias"
          body.area-noticias &
            border-bottom: 4px solid $noticias-color

      &.nav-esportes
        a
          color: $esportes-color
          
          // Aplica o estilo abaixo no "li.nav-esportes" se o body tiver a classe ".area-esportes"
          body.area-esportes &
            border-bottom: 4px solid $esportes-color

      &.nav-entretenimento
        a
          color: $entretenimento-color

          // Aplica o estilo abaixo no "li.nav-entretenimento" se o body tiver a classe ".area-entretenimento"
          body.area-entretenimento &
            border-bottom: 4px solid $entretenimento-color
  
      a
        +inline-block
        font-weight: bold
        text-decoration: none
        border-bottom: 4px solid transparent
  
        &:active
  
        &:hover
          text-decoration: none
          border-bottom: 4px solid