.destaques-categoria
  +span-columns(4,12)
  +nth-omega(3n)
  
  @include at-breakpoint(4 400px)
    @include with-grid-settings(4,4em,1em,0)
      +span-columns(4 omega)

  header
    h1
      +adjust-font-size-to(32px)
      +adjust-leading-to(1)
      font-weight: bold
      padding-bottom: 5px

  .conteudo
    display: block
    
    p
      +adjust-font-size-to(18px)
      +adjust-leading-to(.8)
      font-weight: bold

  .destaque
    border-bottom: 1px dotted #cecece
    +pie-clearfix

    &:last-of-type
      border-bottom: none
  
  // Destaque Secundário
  .destaque-secundario
    padding-bottom: 10px
    .conteudo
      padding: 10px 0

  // Destaque Terciario
  .destaque-terciario
    padding: 20px 0

    .foto
      height: 65px
      +float-left
      margin-right: 10px
  
    .conteudo
      p
        +adjust-font-size-to(16px)
        +adjust-leading-to(.8)
        padding: 0 10px 0 0